*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.container{
    background-color: antiquewhite;
    min-width: 400px;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    overflow: hidden;

}
.container h1{
    color: darkolivegreen;
    margin: 2rem 0px 1rem 0rem;
    font-size: 3rem;
}
.container input{
    padding: 0.7rem 1.6rem;
    text-align: center;
    width: 12rem;
    color: black;
    border-radius: 3rem;
    border: none;
    background-color: darkkhaki;
    margin: 1rem 0px;
}

.container button{
    padding: 0.5rem 1.3rem;
    border-radius: 2rem;
    border: 1px solid darkolivegreen;
    background-color: darkgoldenrod;
    cursor: pointer;
    color: bisque;
    -webkit-box-shadow: -4px 4px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 19px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 4px 19px 0px rgba(0,0,0,0.75);
    margin-bottom: 2rem;
    transition: 1s;

}
.container button:hover{
    background-color: darkgreen;-webkit-box-shadow: -4px 4px 19px 0px rgba(28,97,24,1);
    -moz-box-shadow: -4px 4px 19px 0px rgba(28,97,24,1);
    box-shadow: -4px 4px 19px 0px rgba(28,97,24,1);
}
.container ol>li{
    text-align: left;
    color: darkgreen;
    font-size: 1.5em;
}

.card{
    display: flex;
    align-items: center;
    position: relative;
    transition: .5s;
    width: 600px;
    height: 350px;
    margin-bottom: 2rem;
}
.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
    content: "";
    background-color: darkolivegreen;
    clip-path: circle(120px at center);
    transition: .5s;
}
.card:hover .circle{
    background-color: antiquewhite;
    clip-path: circle(400px at center);
    cursor: pointer;
}
.card img{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 230px;
    border-radius: 50%;
    transition: .75s;
}
.card:hover img{
    left: 78%;
    height: 300px;
}
.card .content{
    position: relative;
    width: 50%;
    left:15%;
    opacity: 0;

}
.card:hover .content{
    opacity: 1;
}

.content h1{
    color: darkolivegreen;
}
